<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block head %}
    <title>{% block title %}CIT{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css"/>
    <script src="/static/main.js"></script>
    {% endblock %}
    {% block head_last %}{% endblock %}
  </head>
  <body>
      <header>
      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-lg-2 pt-3"><a href="/"><img src="/static/CIT-navigation.png" alt="The CIT navigation item"  style="width: 75%"></a></div>
            <div class="col-sm-8 col-lg-auto">
              <ul class="nav mb-2">
                <li>
                    <a href="/search/" class="nav-link px-2 text-secondary">{{T('browsesearch')}}</a>
                </li>
                <li>
                    <a href="/terms/" class="nav-link px-2 text-secondary">{{T('terminology')}}</a>
                </li>
                <li>
                    <a href="/mirador/" class="nav-link px-2 text-secondary">{{T('lightbox')}}</a>
                </li>
                <li>
                    <a href="/help/about" class="nav-link px-2 text-secondary">{{T('about')}}</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="nav-link px-2 text-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{T('changelang')}}</a>
                    <ul class="dropdown-menu">
                        <li><a href="/?lang=zh_hant" class="dropdown-item">中文（繁體)</a></li>
                        <li><a href="/?lang=zh_hans" class="dropdown-item">中文（简体)</a></li>
                        <li><a href="/?lang=en" class="dropdown-item">English</a></li>
                    </ul>
                </li>

              </ul>
            </div>
        </div>
      </div>
      </header>
      
    {% block content %}{% endblock %}


<footer class="container-fluid" style="padding: 3vh 0 0 0; background-color: #1d1e20; height: 20vh; text-align: center; color: #fff;">
<a style="margin-right: 5vw" href="https://www.vam.ac.uk/research/projects/chinese-iconography-thesaurus-cit"> &copy; Victoria and Albert Museum, London, 2022</a> &middot; <a href="https://brill.com/view/db/cit">Published by BRILL</a> &middot; <a style="margin-left: 5vw" href="https://epoz.org">Site developed by POSTHUMANITIES</a>
</footer>


  </body>  
</html>
