{% extends "base.html" %}

{% block title %}CIT Chord {% endblock %}

{% block head_last%}
<script>
document.SITE_URL = '{{SITE_URL}}'
document.LANG = "{{lang}}"
</script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
<style>
  #panel {
	  position: relative;
	  width: 20%;
	  z-index: 1000;
	  padding: 1rem;
	  border: 1px solid #CCCCCC;
	  border-radius: .25rem;
	  background-color: #F4F4F4;
	
  }
  #description, #tools, form {
	  padding: .25rem;
  }
  #viz {
	  width: 100%;
	  height: 100%;
	  border-bottom-style: solid;
	  border-bottom-width: 1px;
	  border-color: #CCCCCC;
  }
  .label {
	  font-size: 3rem;
	  font-family: sans-serif;
  }
</style>
{% endblock %}}

{% block content %}
<div class="container-fluid">
    <div id="viz">
    </div>
    <div class="row">
        <div class="col-6">    
            <div id="description">This chord diagram reveals otherwise the hidden pattern of symbolic relationships among related terms in the CIT hierarchy. The word colours represent top-level seven categories (Nature, etc.), and the wavy lines connect related terms. Mousing over a term will highlight the line(s) in blue and show a text box displaying the term and its related terms. Scroll to zoom.</div>
                <div id="tools">
                    <form id="searchBox">
                    <label for='searchBox' class='searchBox'>Search by name:</label>
                    <input name='searchBox' class='searchBox' type='text' placeholder='Type to search...' />
                    </form>
                    <form id="radioButtons">
                    <span>Select language:</span>
                    <input type="radio" id="chinese" name="radioButtons" value="Chinese" checked>
                    <label for="chinese">Chinese</label>
                    <input type="radio" id="english" name="radioButtons" value="English">
                    <label for="english">English</label>
                    </form>
                </div>
            </div>
    </div>
</div>

<script src="/static/chord/main.js"></script>

{% endblock %}
