{% extends "base.html" %}

{% block head_last%}
<style>
.parallax {
	height: 60vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.wideslab {
 padding: 3vw; min-height: 27vh; text-align: center; width: 100vw
}
</style>
<script src="/static/openseadragon-2.4.2/openseadragon.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding: 0">

<div><img src="/static/homepage1.jpg" style="width: 100vw;"/></div>
<div class="wideslab" style="font-weight: 800; font-size: 150%; text-align: center; padding: 8vw">{{T('homepage_text1')}}</div>
<div class="parallax" style="background-image: url(/static/homepage2.jpg)"></div>
<div class="wideslab" style="background-color: #C7CEBE; font-size: 150%; text-align: center; padding: 8vw">{{T('homepage_text2')}}</div>
<div class="parallax" style="background-image: url(/static/homepage3.jpg)"></div>
<div style="background-color: #D5DCD2; font-size: 150%; text-align: center; padding: 8vw">{{T('homepage_text3')}}</div>
<div class="parallax" style="background-image: url(/static/homepage4.jpg);"></div>
<div style="background-color: #D5DCD2; font-size: 150%; text-align: center; padding: 8vw">{{T('homepage_text4')}}</div>
<div class="parallax" style="background-image: url(/static/homepage5.jpg)"></div>
<div style="background-color: #C7CEBE; font-size: 150%; text-align: center; padding: 8vw; display: flex; align-items: center;">
    <div style="font-weight: 800; width: 40vw">{{T('homepage_text5')}}</div>
    <div style="text-align: left; margin-left: 8vw">{{T('homepage_text6')}}</div>
</div>
<div class="parallax" style="background-image: url(/static/homepage6.jpg)"></div>

<div style="text-align: center; padding: 3vw"><p id="placeholder"></p></div>

<div style="display: flex; align-items: center;">
    <div style="padding-left: 5vw; width: 30vw;">{{T('homepage_text7')}}</div>
    <div id="thedzi1" style="width:100%; height: 80vh"></div>
</div>

<div style="background-color: #C7CEBE; font-size: 150%; text-align: center; padding: 8vw">
    <div>
        <div>{{term_count}}</div>
        <div>{{T('terms')}}</div>
    </div>
    <div>
        <div>{{artwork_count}}</div>
        <div>{{T('artworks')}}</div>
    </div>
</div>

<div style="font-size: 150%; text-align: center; padding: 2vh 10vw 3vh 10vw; font-weight: 800">
    <div style="text-align: center; margin-bottom: 2vh">{{T('sponsors')}}</div>
    
    <div style="display: flex; align-items: center; justify-content: space-between">    
        <img style="height: 8vh" src="/static/sponsor1.png" alt="Logo of the UK Department for Digital, Culture, Media and Sport">
        <img style="height: 6vw" src="/static/sponsor2.png" alt="Logo of the Bei Shan Tang Foundation">
    </div>
    
</div>

<div style="font-size: 150%; text-align: center; padding: 2vh 10vw 3vh 10vw; font-weight: 800">
    <div>{{T('collections')}}</div>
    <div style="display: flex; align-items: center; justify-content: space-between">    
        <img style="height: 8vh" src="/static/vam.png" alt="Logo of the V&A">
        <img style="height: 6vw" src="/static/npm.png" alt="Logo of the National Palace Museum Taiwan">
        <img style="height: 8vh" src="/static/themet.png" alt="Logo of the Metropolitan Museum">
        <img style="height: 6vw" src="/static/cma.png" alt="Logo of the Cleveland Museum of Art">
        <img style="height: 6vw" src="/static/hyl.png" alt="Logo of the Harvard-Yenching Library">
    </div>    
</div>

</div>

<script type="text/javascript">
async function doInits() {
    var width = 63768
    var height = 57672
    var ratio = width/height
    var place = document.querySelector("#placeholder")
    var viewer = OpenSeadragon({
        id: "thedzi1",
        prefixUrl: '/static/openseadragon-2.4.2/images/',
        showNavigator: false,
        showFullPageControl: true,
        zoomPerClick: 2,
        tileSources: [
            { x: 0, y: 0, width: 1000, tileSource: 'https://cit.iconclass.org/z/CIT.dzi' }],
    });
    viewer.gestureSettingsMouse.clickToZoom = false;
    viewer.addHandler("canvas-click", (event) => {
        let viewer_point = viewer.viewport.pointFromPixel(event.position);
        let viewer_height = 1000 / ratio;
        let x = viewer_point.x / 1000;
        let y = viewer_point.y / viewer_height;
        fetch(`/metabotnik/xy_wh/cit/${x}_${y}`, {
          cors: "no-cors",
          cache: "no-cache",
          method: "GET",
        }).then((response) => response.json()).then((result) => {
            var desc = result.obj.DESCRIPTION[0] || ""
            var title = result.obj.TITLE[0] || ""
            place.innerHTML = "<a href='/items/" + result.obj.ID[0] + "'>" + title + " " + desc + "</a>"
        })
    })
}

doInits()
</script>

{% endblock %}
