{% extends "base.html" %}

{% block title %}CIT Search {% if q %}for {{q}}{% endif %}{% endblock %}

{% block head_last%}
<script src="https://unpkg.com/mirador@latest/dist/mirador.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script>
document.SITE_URL = '{{SITE_URL}}'
</script>
<script type="module">import * as frontend from '/static/mirador/mirador.js';</script>
{% endblock %}}

{% block content %}
<div class="container-fluid">

<div class="row">

<div id="amirador" style="position: relative; width: 100vw; height: 80vh"/> 

</div>
</div>

{% endblock %}
